.beer {
  @include flexWrap();
  margin-top: 20px;

  .beer-container {
    width: 300px;
    height: 400px;
    @include flexDirection(column);
    margin: 30px;
    border: 2px solid green;
    box-shadow: rgb(151, 168, 159) 0 0 10px 5px;

    .name {
      margin: 20px;
      color: rgb(57, 55, 55);
      padding: 10px;
      cursor: pointer;
      background-color: whitesmoke;
    }
    .name:hover {
      color: rgb(205, 133, 50);
    }

    img {
      margin: 20px;
      height: 200px;
      width: 75px;
    }
  }
}

//beer details
.beer-details {
  @include flexDirection(column);
  margin: 75px;
  padding: 50px;
  font-size: 20px;
  background: linear-gradient(
    to right,
    gray,
    rgb(175, 168, 169),
    rgb(165, 163, 163),
    gray,
    rgb(195, 181, 183),
    rgb(202, 201, 201)
  );
  color: whitesmoke;
  border: 2px solid green;

  .name {
    color: rgb(24, 70, 12);
    background-color: #ccffcc;
    padding: 10px;
    max-width: 700px;
    margin-bottom: 40px;
    border: 5px solid green;
  }

  .des {
    max-width: 600px;
    margin: 10px;
    padding: 10px;
    color: green;
  }

  .tag-abv {
    background-color: whitesmoke;
   @include flexDirection(column);
    padding: 50px;
    border: 5px solid green;
  }

  .abv {
    max-width: 700px;
    margin: 10px;
    padding: 10px;
    color: green;
  }

  .tag {
    color: green;
    max-width: 700px;
    margin: 10px;
  }

  .tips {
    max-width: 600px;
    margin: 10px;
    margin: 10px;
    color: green;
    padding: 10px;
  }

  .ing,
  .food {
    @include flexDirection(column);
    padding: 20px;
    width: 500px;
    margin: 10px;
    color: rgb(8, 81, 20);
    background-color: rgb(246, 249, 167);
    border: 2px solid green;

    li {
      list-style: none;
    }
  }

  .food {
    background-color: pink;
  }

  .btn {
    padding: 25px;
    margin-top: 20px;
    color: green;
    font-weight: bold;
    cursor: pointer;
    border: 5px solid green;
  }
  .btn:hover {
    color: rgb(249, 92, 119);
  }
}
