.header {
  @include flexWrap();
  height: 130px;
  top: 0;
  background: linear-gradient(
    to right,
    gray,
    rgb(175, 168, 169),
    rgb(165, 163, 163),
    gray,
    rgb(195, 181, 183),
    rgb(202, 201, 201)
  );

  .title {
    font-size: 3rem;
    font-weight: 700;
    color: #fda0a0;
    background-color: white;
    box-shadow: rgb(250, 239, 244) 0 0 20px 0px;
    padding: 10px 40px;
    border: 1px solid green;
  }
}
