.beer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px ;

  .beer-container {
   
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    border: 2px solid green;
    box-shadow: rgb(151, 168, 159) 0 0 10px 5px;

    .name{
        margin: 20px;
        color: rgb(57, 55, 55);
        padding: 10px;
        cursor: pointer;
        background-color: whitesmoke;
    }
    .name:hover{
        color: rgb(205, 133, 50);
    }

    img {
        margin: 20px;
      height: 200px;
      width: 75px;
    }
  }
}

//beer details
.beer-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 75px;
    padding: 50px;
    font-size: 20px;
    background-color: rgb(96, 93, 88);
    color: whitesmoke;
    border: 2px solid green;

    .name{
        color: rgb(222, 121, 32);
    }

    .des{
        margin: 10px 300px;
        padding: 10px;
        color: rgb(240, 213, 175);
    }

    .abv{
        padding: 10px;
        color: rgb(238, 131, 54);
    }

    .tag{
        color: rgb(108, 203, 122);
    }

    .tips{
        margin: 10px 320px;
        color: rgb(240, 213, 175);
        padding: 10px;
    }

    .ing, .food{
    padding: 20px;
    margin: 10px;
        color: rgb(210, 253, 217);
        background-color: rgb(197, 110, 59);
        border: 2px solid green;

        li{
            list-style: none;
           
        }
    }


  .btn{
    padding: 25px;
    margin-top: 20px;
    color:green;
    font-weight: bold;
    cursor: pointer;
    border: 5px solid green;
  }

}
